body {
  background-image: url(../images/skyline-bg.jpg);
  background-size: cover;
}

.index-header, label {
  color: white;
}

.bg-primary {
  background: rgba(173, 173, 133, 0.4)!important;
  /* background-color: #adad85!important;
  opacity: 0.8; */
}

.btn-primary {
  background: rgba(173, 173, 133, 0.8);
  border-color: rgb(173, 173, 133);
}

button:hover {
  background-color: white!important;
  border-color: rgb(255, 255, 255)!important;
  color: black!important;
}

.container{
  border-radius: 10px;
  background: rgba(173, 173, 133, 0.6);
}

/* #divider {
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.7);
} */

ul {
  max-width: 100%;
  margin-bottom: 60px;
}

ul > * {
  max-width: 100%;
}

footer {
  margin-top: 10px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

nav {
  margin-bottom: 20px;
}