ul {
  max-width: 100%;
  margin-bottom: 60px;
}

ul > * {
  max-width: 100%;
}

footer {
  margin-top: 10px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

nav {
  margin-bottom: 20px;
}