body {
  background-image: url(../images/skyline-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Monaco', Arial, Helvetica, sans-serif!important;
  display: inline-block;
}

.first, h1 {
  margin-top: 10px;
}

h1::after {
  content: "";
  top: 0;
  display: inline-block;
  background-color: white;
  opacity: 0.8;
  width: 15px;
  height: 32px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

@keyframes blink {
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

#query-feed, #feed-container {
  min-height: 500px;
}

.header, label, #feed-placeholder, #chat-header {
  color: white;
}

.formValidation {
  color: rgb(204, 204, 0);
  text-shadow: 2px 2px 4px black;
}

.bg-primary {
  background: rgba(173, 173, 133, 0.4)!important;
}

.btn-primary {
  background: rgba(173, 173, 133, 0.8)!important;
  border-color: rgb(173, 173, 133)!important;
}

.btn-dark {
  background: rgb(92, 92, 61)!important;
}

.active {
  background: rgb(46, 46, 31)!important;
}

.nav-link:hover {
  background: rgba(46, 46, 31, .4)!important;
}

.nav-item, .container {
  border-radius: 10px;
}

#chat-header {
  padding-bottom: 5px;
}

button:hover, input:hover, textarea:hover {
  background-color: lightgoldenrodyellow!important;
  border-color: lightgoldenrodyellow!important;
  color: black!important;
}

.btn-group-toggle label:hover {
  background: rgba(92, 92, 61, .4)!important;
}

.container{
  background: rgba(173, 173, 133, 0.6);
}

#form-container {
  padding-left: 75px;
}

#message-container {
  border-style: solid;
  border-color: rgba(92, 92, 61, 0.6)!important;
  border-width: 5px;
  border-radius: 5px;
}

#message-board {
  height: 450px;
  width: 550px;
  overflow: scroll;
}

#message-board, .chat-log {
  padding-top: 10px;
}

.chat-log {
  padding-left: 10px;
  color: white;
  background: rgba(173, 173, 133, 0.8)!important;
  border-radius: 10px;
  margin-left: 10px;
}

.chat-log, label, .mission, #chat-header {
  text-shadow: 1px 1px 2px black;
}

/* These displays need to be separate because they are manipulated seperately */
.show {
  display: block;
}

.hide {
  display: none;
}

#loader-container {
  display: none;
}

#query-feed {
  display: none;
}

.loader {
  /* display: none; */
  margin-top: 25px;
  /* margin-bottom: 25px; */
  border: 15px solid #f3f3f3;
  border-top: 15px solid #555;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

.card-footer, .loader, #chat-container, #chat-header {
  margin: auto;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);} 
}

ul {
  max-width: 100%;
  margin-bottom: 60px;
}

ul > * {
  max-width: 100%;
}

li {
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  margin-top: 10px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

nav {
  margin-bottom: 20px;
}