body {
  background-image: url(../images/skyline-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#query-feed, #feed-container {
  min-height: 500px;
}

.header, label, #feed-placeholder {
  color: white;
}

.formValidation {
  color: palegoldenrod;
  text-shadow: 2px 2px 4px black;
}

.bg-primary {
  background: rgba(173, 173, 133, 0.4)!important;
}

.btn-primary {
  background: rgba(173, 173, 133, 0.8)!important;
  border-color: rgb(173, 173, 133)!important;
}

.btn-dark {
  background: rgb(92, 92, 61)!important;
}

.active {
  background: rgb(46, 46, 31)!important;
}

.nav-item {
  border-radius: 10px;
}

button:hover {
  background-color: lightgoldenrodyellow!important;
  border-color: lightgoldenrodyellow!important;
  color: black!important;
}

.container{
  border-radius: 10px;
  background: rgba(173, 173, 133, 0.6);
}

.show {
  display: block;
}

.hide {
  display: none;
}

#loader-container {
  display: none;
}

#query-feed {
  display: none;
}

.loader {
  /* display: none; */
  margin: auto;
  margin-top: 25px;
  /* margin-bottom: 25px; */
  border: 15px solid #f3f3f3;
  border-top: 15px solid #555;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);} 
}

ul {
  max-width: 100%;
  margin-bottom: 60px;
}

ul > * {
  max-width: 100%;
}

li {
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  margin-top: 10px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

nav {
  margin-bottom: 20px;
}